@charset 'utf-8';
/* TODO:
- JRのヘッダーフッターレイアウト
- スマートフォン対応（レスポンシブ）
- 画面画像のフルードイメージ化（横幅には対応しているが、縦幅が未対応）
---------------------------------------------------------------------------- */

/* custom properties
---------------------------------------------------------------------------- */
:root {
  --main-color: #008803;
  --sub-color: #666;
  --base-color: #fff;
}
/* reset
---------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}
html, body, h1, h2, h3, ul, li, dl, dt, dd, p  {
  margin: 0;
  padding: 0;
  line-height: 1;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit; /* 親要素を継承 */
}
/* for pc
---------------------------------------------------------------------------- */
/* common
-------------------------------------------------------- */
body.bg {
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* header
-------------------------------------------------------- */
header {
  width: 100%;
  height: 100px;
  background-color: var(--sub-color);
}
/* main
-------------------------------------------------------- */
main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* select-a-purchase-method
------------------------------------ */
#select-a-purchase-method {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.btn {
  width: 100%;
  height: calc((100vh - 140px) / 3 - 20px);
}
.btn>a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--main-color);
  color: var(--base-color);
  font-size: 38px;
  text-align: center;
  line-height:  calc((100vh - 140px) / 3 - 20px);
  padding: 0 30px;
}
.btn>a.twoline {
  padding: calc(((100vh - 140px) / 3 - 20px) / 6 ) 30px;
  line-height: calc(((100vh - 140px) / 3 - 20px) / 3 );
}
.btn>a:hover {
  opacity: 0.8;
}
/* operation-explanation
------------------------------------ */
#operation-explanation {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  height: 95vh;
  width: 95vw;
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0 0 20px #333;
  background-color: var(--base-color);
  animation: fade 0.5s linear 0s;
}
#operation-explanation.show {
  display: block;
}
#close {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: var(--base-color);
  box-shadow: 0 1px 10px #333;
  animation: fade 0.5s linear 0s;
  z-index: 100;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* operation-explanation-hedding
------------------- */
#operation-explanation-hedding {
  max-width: 800px;
  margin: 0 auto;
}
h2 {
  text-align: center;
  margin: 20px auto;
  color: var(--main-color);
}
#operation-explanation-hedding>p {
  margin-bottom: 20px;
  line-height: 1.4em;
}
#operation-explanation-description {
  max-width: 800px;
  margin: 0 auto;
}
h3 {
  margin-bottom: 16px;
}
#operation-explanation-description>p {
  margin-bottom: 10px;
}
#operation-explanation-box {
  height: calc((95vh - 220px)); /* buttonの位置を設定するため、relativeの幅高さを設定 */
  width: calc((95vh - 220px) * 1.25);
  margin: 0 auto;
  position: relative;
  align-items: center;
  text-align: center;
}
#screen-image {
  display: block;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}
.screen-button{
  width: 0;
  height: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: 0;
  z-index: 10;
  background-color: var(--sub-color);
  opacity: 0;
  transition: 0.4s;

  /* filter: drop-shadow(0 0 5px #fff); */
  animation-name: boderFadeInOut;
  animation-timing-function: linear;
  animation-duration: 1s;
  /* animation-delay: 1s; */
  animation-direction: alternate;
  animation-iteration-count:2;
}
.screen-button:hover{
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  box-shadow: 0 0 4px 20px red;
}
/* 画像内ボタンをホバーする前にアニメーションで位置表示する */
@keyframes boderFadeInOut {
  0% {
    filter: box-shadow(0 0 0 0 red);
  }
  50% {
    filter: box-shadow(0 0 4px 20px red);
  }
  80% {
    filter: box-shadow(0 0 4px 20px red);
  }
  100% {
    filter: box-shadow(0 0 0 0 red);
  }
}
#operation-explanation-box>img {
  box-sizing: border-box;
  height: calc((95vh - 220px)); /* javascrtiptで幅を取得するために親要素と一緒の幅指定する */
  width: calc((95vh - 220px) * 1.25);
  object-fit: contain;
}
/* footer
-------------------------------------------------------- */
footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: var(--sub-color) ;
}
footer p {
  line-height: 100px;
}

/* for sp
---------------------------------------------------------------------------- */
/* common
-------------------------------------------------------- */
/* header
-------------------------------------------------------- */
/* main
-------------------------------------------------------- */
/* footer
-------------------------------------------------------- */
