@charset 'utf-8';
/* TODO: 操作画面のイメージは縦横対応したフルードイメージ化、
画像内ボタンのサイズ・位置計算をスムーズにする為、img要素から背景に変更すべき。
---------------------------------------------------------------------------- */

/* custom properties
---------------------------------------------------------------------------- */
:root {
  --main-color: #008803;
  --sub-color: #666;
  --base-color: #fff;
  --next-button-hover-color: #0000ff;
  --previous-button-hover-color: #ffa500;
  --cancel-button-hover-color: #ff0000;

  --aspectRatio: 0.8;
}
/* reset
---------------------------------------------------------------------------- */
html, body, h1, h2, h3, ul, li, dl, dt, dd, p, span  {
  margin: 0;
  padding: 0;
  line-height: 1;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit; /* 親要素を継承 */
}
/* for pc
---------------------------------------------------------------------------- */
/* common
-------------------------------------------------------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
body * {
  box-sizing: border-box;
}
/* header
-------------------------------------------------------- */
header {
  width: 100%;
  /* height: 180px; */
  background-color: var(--sub-color);
}
#kinkyuOshirase {
  background-image: url(/img/bg_info_coronavirus202101.png);
  padding: 5px 5px;
  position: relative;
}
#kinkyuOshirase>a {
  display: block;
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}
#jre_header_in {
  display: flex;
  width: 100%;
  box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 70%);
  position: relative;
}
#jre_header_in>.logo {
  background: #008803;
  padding: 15px;
  min-height: 90px;
  width: 80px;
}
#jre_header_in>.logo img {
  display: flex;
  align-items: center;
  height: 100%;
}
#jre_header_in .header_navi {
  background: #333333;
  width: calc(100% - 80px);
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2);
}
#jre_header_in .header_navi01 {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
#jre_header_in .header_navi01 .navi01_btn {
  display: flex;
  justify-content: space-between;
}
#jre_header_in .header_navi01 .navi01_btn #lang {
  margin-right: 10px;
}
#lang>.btn,
#search>.btn {
  height: 38px;
  background: #444444;
  color: #fff;
  padding: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  align-items: center;
  display: flex;
  cursor: pointer;
}
#lang>.btn:before {
  content: "";
  display: block;
  background: url(../img/ico_header_lang.svg) no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
#search>.btn:before {
  content: "";
  display: block;
  background: url(../img/ico_header_search.svg) no-repeat;
  background-size: contain;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}
#lang>.btn>span,
#search>.btn>span {
  font-size: 12px;
}
.navi01_link {
  display: flex;
  height: 38px;
  align-items: center;
}
.navi01_link li a {
  height: 12px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 12px;
  background: transparent;
  border-right: 1px solid #fff;
}
.navi01_link li:last-of-type a {
  border-right: 0;
}
.spBtn {
  display: none;
}
.header_navi02 {
  height: 45px;
}
#jre_header_in .header_navi02_list {
  display: flex;
  padding-left: 5px;
}
#jre_header_in .header_navi02_list > li:not(:last-child) {
  padding-right: 35px;
}
#jre_header_in .header_navi02_list .nav a {
  line-height: 45px;
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  position: relative;
  padding-left: 40px;
}
#jre_header_in .nav a:before {
  content: "";
  display: block;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 12px;
  margin: auto;
}
#navi_train .nav a:before {
  background: url(../img/ico_header_train.svg) no-repeat;
}
#navi_travel .nav a:before {
  background: url(../img/ico_header_travel.svg) no-repeat;
}
#navi_service .nav a:before {
  background: url(../img/ico_header_service.svg) no-repeat;
}
#navi_suica .nav a:before {
  background: url(../img/ico_header_suica.svg) no-repeat;
}
#navi_company .nav a:before {
  background: url(../img/ico_header_company.svg) no-repeat;
}
#navi_recruit .nav a:before {
  background: url(../img/ico_header_recruit.svg) no-repeat;
}
/* main
-------------------------------------------------------- */
main {
  width: 100%;
  height: calc(100vh - 180px);
}
#breadcrumb {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 0;
}
#breadcrumb .bread {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#breadcrumb .bread > li {
  font-size: 13px;
  margin: 0 10px 0 0;
  display: inline-block;
}
#breadcrumb .bread > li + li:before {
  content: "";
  display: inline-block;
  background: url(../img/ico_link.svg) no-repeat;
  width: 6px;
  height: 10px;
  margin: 0 10px 0 0;
}
main a {
  color: #008803;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
h1 {
  font-size: 41px;
  color: #008803;
  text-align: center;
  padding: 40px;
}
main>.wapper {
  width: 100%;
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* select-a-purchase-method
------------------------------------ */
#select-a-purchase-method {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}
.btn {
  width: 100%;
}
.btn>a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  padding: 18px 15px;
  border-radius: 3px;
  background-color: var(--main-color);
  color: var(--base-color);
}
.btn>a:hover {
  opacity: 0.8;
  box-shadow: 0 0 2px 1px #333;;
}
/* operation-explanation
------------------------------------ */
#operation-explanation {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  max-width: 832px;
  width: 90vw;
  height: 90vh;
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
  background-color: var(--base-color);
  animation: fade 0.5s linear 0s;
}
#operation-explanation.show {
  display: block;
}
#close {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 38px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: var(--base-color);
  box-shadow: 0 1px 10px #333;
  animation: fade 0.5s linear 0s;
  z-index: 100;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #operation-explanation-hedding
------------------- */
#operation-explanation-hedding {
  max-width: 800px;
  margin: 0 auto;
}
h2 {
  text-align: center;
  margin: 10px auto;
  color: var(--main-color);
}
#operation-explanation-hedding>p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4em;
}
/* #operation-explanation-description
------------------- */
#operation-explanation-description {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
}
h3 {
  margin-bottom: 10px;
}
@keyframes typing {
  from{ width: 0;}
}
#operation-explanation-description>p {
  width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(50);
  margin-bottom: 10px;
}
/* #operation-explanation-box
------------------- */
#operation-explanation-box {
  max-width: 800px;
  height: calc((95vh - 220px) * var(--aspectRatio)); /* 縦横比率を保つ：イメージを格納するBOXの幅を基準とした比率 */
  max-height: 640px;
  margin: 0 auto 10px;
  position: relative;
  align-items: center;
  text-align: center;
}
#operation-explanation-box>img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.screen-button {
  width: 0;
  height: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.4s;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: bounceindown;
}
.screen-button::before{
  position: absolute;
  content: "";
  vertical-align: middle;
  top: -20px;
  left: calc(50% - 10px);
  right: 10px;
  box-sizing: border-box;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.screen-button[data-name="next"]{
  animation-iteration-count: infinite;
}
.screen-button[data-name="next"]::before{
  border-top: 10px solid var(--next-button-hover-color);
}
.screen-button[data-name="previous"]{
  animation-iteration-count: 2;
}
.screen-button[data-name="previous"]::before{
  border-top: 10px solid var(--previous-button-hover-color);
}
.screen-button[data-name="cancel"]{
  animation-iteration-count: 2;
}
.screen-button[data-name="cancel"]::before{
  border-top: 10px solid var(--cancel-button-hover-color);
}
.screen-button:hover{
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  animation: none;
  transform: none;
}
.screen-button:hover[data-name="next"]{
  box-shadow: 0 0 4px 10px var(--next-button-hover-color);
}
.screen-button:hover[data-name="previous"]{
  box-shadow: 0 0 4px 10px var(--previous-button-hover-color);
}
.screen-button:hover[data-name="cancel"]{
  box-shadow: 0 0 4px 10px var(--cancel-button-hover-color);
}
.screen-button:active{
  background-color: rgb(255, 0, 0, 0.2);
  /* opacity: 0.5; */
}
@keyframes flash { 
  0%, 100% {
    opacity: 0;
  } 
  50% {
    opacity: 1;
  } 
}
@keyframes bounceindown { 
  0% { 
      opacity: 0; 
      transform: translateY(-10px); 
  } 
  60% { 
      opacity: 1; 
      transform: translateY(5px); 
  } 
  80% { 
      transform: translateY(-5px); 
  } 
  100% { 
      transform: translateY(0); 
  } 
}
.bounceindown { 
  animation-name: bounceindown; 
}

/* #supplementary-explanation
------------------- */
#supplementary-explanation {
  max-width: 800px;
  margin: 0 auto;
  font-size: 12px;  
}
/* footer
-------------------------------------------------------- */
footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color:#333333 ;
}
footer p {
  line-height: 100px;
}

/*
---------------------------------------------------------------------------- */
@media screen and (max-width: 1160px) {
  #lang>.btn,
  #search>.btn {
    height: 28px;
    padding: 5px 10px;
    align-self: center;
    text-align: center;
  }
  #lang>.btn>span,
  #search>.btn>span {
    display: none;
  }
  #jre_header_in .header_navi02_list .nav a {
    line-height: 14px;
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    position: relative;
    padding-top: 30px;
    padding-left: 0;
  }
  #jre_header_in .header_navi02_list  .nav a:before {
    left: 0;
    right: 0;
    top: -3px;
    bottom: auto;
  }
}

/*
---------------------------------------------------------------------------- */
@media screen and (max-width: 1050px) {
}

/*
---------------------------------------------------------------------------- */
@media screen and (max-width: 966px) {
}

/*
---------------------------------------------------------------------------- */
@media screen and (max-width: 850px) {
  /* header
  -------------------------------------------------------- */
  #jre_header_in .header_navi02_list > li:not(:last-child) {
    padding-right: 16px;
  }
  /* main
  -------------------------------------------------------- */
}
/*
---------------------------------------------------------------------------- */
@media screen and (max-width: 760px) {
  /* header
  -------------------------------------------------------- */
  header {
    height: 150px;
  }
  #jre_header_in {
    height: 62px;
  }
  #jre_header_in>.logo {
    padding: 0 15px;
    width: 80px;
    min-height: 62px;
  }
  #jre_header_in .header_navi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    padding-right: 10px;
  }
  #jre_header_in .header_navi01 .navi01_btn #lang {
    margin-right: 15px;
    position: static;
  }
  #search {
    margin-right: 15px;
  }
  #lang>.btn,
  #search>.btn {
    display: block;
    align-items: center;
    background-color: unset;
    padding: 0;
    display: block;
  }
  #lang>.btn::before,
  #search>.btn::before {
    margin: 0 auto 2px;
    width: 22px;
    height: 22px;
  }
  #lang>.btn>span,
  #search>.btn>span {
    display: block;
    vertical-align: baseline;
  }
  ul.navi01_link {
    display: none;
  }
  .spBtn {
    display: block;
    width: 55px;
  }
  .spBtn>img {
    vertical-align: middle;
    line-height: 0;
    border: 0;
  }
  .header_navi02 {
    display: none;
  }
  /* main
  -------------------------------------------------------- */
  h1{
    font-size: 28px;
    padding-bottom: 20px;
  }
  #breadcrumb {
    display: none;    
  }
  #select-a-purchase-method {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding: 20px;
  }
}
/*
---------------------------------------------------------------------------- */
@media screen and (max-width: 760px) {
  /* header
  -------------------------------------------------------- */
  header {
    height: 130px;
  }
  /* main
  -------------------------------------------------------- */
  #select-a-purchase-method {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px;
  }

}
