@charset 'utf-8';
/* TODO:
- JRのヘッダーフッターレイアウト
- スマートフォン対応（レスポンシブ）
- FIX : 操作説明画像のフルードイメージ化（横幅には対応しているが、縦幅が未対応）
---------------------------------------------------------------------------- */

/* custom properties
---------------------------------------------------------------------------- */
:root {
  --main-color: #008803;
  --sub-color: #666;
  --base-color: #fff;
  --next-button-hover-color: #0000ff;
  --previous-button-hover-color: #ffa500;
  --cancel-button-hover-color: #ff0000;
}
/* reset
---------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}
html, body, h1, h2, h3, ul, li, dl, dt, dd, p  {
  margin: 0;
  padding: 0;
  line-height: 1;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit; /* 親要素を継承 */
}
/* for pc
---------------------------------------------------------------------------- */
/* common
-------------------------------------------------------- */
body.bg {
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* header
-------------------------------------------------------- */
header {
  width: 100%;
  height: 100px;
  background-color: var(--sub-color);
}
/* main
-------------------------------------------------------- */
main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* select-a-purchase-method
------------------------------------ */
#select-a-purchase-method {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.btn {
  width: 100%;
  height: calc((100vh - 140px) / 3 - 20px);
}
.btn>a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--main-color);
  color: var(--base-color);
  font-size: 38px;
  text-align: center;
  line-height:  calc((100vh - 140px) / 3 - 20px);
  padding: 0 30px;
}
.btn>a.twoline {
  padding: calc(((100vh - 140px) / 3 - 20px) / 6 ) 30px;
  line-height: calc(((100vh - 140px) / 3 - 20px) / 3 );
}
.btn>a:hover {
  opacity: 0.8;
}
/* operation-explanation
------------------------------------ */
#operation-explanation {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0 0 20px #333;
  background-color: var(--base-color);
  animation: fade 0.5s linear 0s;
}
#operation-explanation.show {
  display: block;
}
#close {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: var(--base-color);
  box-shadow: 0 1px 10px #333;
  animation: fade 0.5s linear 0s;
  z-index: 100;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #operation-explanation-hedding
------------------- */
#operation-explanation-hedding {
  max-width: 800px;
  margin: 0 auto;
}
h2 {
  text-align: center;
  margin: 10px auto;
  color: var(--main-color);
}
#operation-explanation-hedding>p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4em;
}
/* #operation-explanation-description
------------------- */
#operation-explanation-description {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
}
h3 {
  margin-bottom: 10px;
}
@keyframes typing {
  from{ width: 0;}
}
#operation-explanation-description>p {
  width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(50);
  margin-bottom: 10px;
}
/* #operation-explanation-box
------------------- */
#operation-explanation-box {
  width: calc((95vw - 220px));
  max-width: 800px;
  height: calc((95vw - 220px) * 0.8); /* 縦横比率を保つ */
  max-height: calc(800px * 0.8);
  margin: 0 auto 10px;
  position: relative;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#operation-explanation-box>img {
  /* display: block; */
  max-width: 100%;
  height: 100%;
  /* margin: 0 auto; */
}
.screen-button {
  width: 0;
  height: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.4s;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: bounceindown;
}
.screen-button::before{
  position: absolute;
  content: "";
  vertical-align: middle;
  top: -20px;
  left: calc(50% - 10px);
  right: 10px;
  box-sizing: border-box;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.screen-button[data-name="next"]{
  animation-iteration-count: infinite;
}
.screen-button[data-name="next"]::before{
  border-top: 10px solid var(--next-button-hover-color);
}
.screen-button[data-name="previous"]{
  animation-iteration-count: 2;
}
.screen-button[data-name="previous"]::before{
  border-top: 10px solid var(--previous-button-hover-color);
}
.screen-button[data-name="cancel"]{
  animation-iteration-count: 2;
}
.screen-button[data-name="cancel"]::before{
  border-top: 10px solid var(--cancel-button-hover-color);
}
.screen-button:hover{
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  animation: none;
  transform: none;
}
.screen-button:hover[data-name="next"]{
  box-shadow: 0 0 4px 10px var(--next-button-hover-color);
}
.screen-button:hover[data-name="previous"]{
  box-shadow: 0 0 4px 10px var(--previous-button-hover-color);
}
.screen-button:hover[data-name="cancel"]{
  box-shadow: 0 0 4px 10px var(--cancel-button-hover-color);
}
@keyframes flash { 
  0%, 100% {
    opacity: 0;
  } 
  50% {
    opacity: 1;
  } 
}
@keyframes bounceindown { 
  0% { 
      opacity: 0; 
      transform: translateY(-10px); 
  } 
  60% { 
      opacity: 1; 
      transform: translateY(5px); 
  } 
  80% { 
      transform: translateY(-5px); 
  } 
  100% { 
      transform: translateY(0); 
  } 
}
.bounceindown { 
  animation-name: bounceindown; 
}

/* #supplementary-explanation
------------------- */
#supplementary-explanation {
  max-width: 800px;
  margin: 0 auto;
  font-size: 12px;  
}
/* footer
-------------------------------------------------------- */
footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: var(--sub-color) ;
}
footer p {
  line-height: 100px;
}

/* for sp
---------------------------------------------------------------------------- */
/* common
-------------------------------------------------------- */
/* header
-------------------------------------------------------- */
/* main
-------------------------------------------------------- */
/* footer
-------------------------------------------------------- */
